@import "../abstract/general";
@import "../abstract/variables";

#Collection {
  padding: 4rem 0;
}

.collection-container {
  border-radius: .7rem;
  background-color: $collection-bg;
  color: white;
  width: min(95%, 128rem);
  outline: 1px solid;
  padding: 2rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.collection-text {
  h2 {
    font-size: clamp(2.3rem, 2.5vw, 4rem);
    margin-bottom: 1rem;
  }

  p {
    font-size: clamp(1.8rem, 2.5vw, 2.5rem);
    color: $collection-p;
  }
}

.collection-button a{
  background-color: white;
  padding: 2rem 4rem;
  color: $collection-link;
  display: block;
  margin-top: 2rem;
  width: 22rem;
  border-radius: .7rem;
}


@media screen and (min-width: 768px) {
  .collection-container {
    padding: 6rem;
    flex-direction: row;
    align-items: center;
  }

  .collection-text {
    h2{
      margin-bottom: 2.5rem;
    }

    p {
      margin-bottom: 2rem;
    }
  }
  
}