* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  min-height: 100vh;
}

body {
  min-height: 100vh;
  height: 100%;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  // min-height: 100vh;
  // height: 100%;
}

#main {
  padding: 4rem 0;
}

section {
  width: 100%;
}

@mixin section-styles {
  width: 90%;
  max-width: 128rem;
  // height: 100vh;
  margin: auto;
}
