$hero-gradient: rgb(49, 46, 129), rgba(49, 46, 129, 0);
$page-purple: #312e81;
$detail-text-heading: #374151;
$detail-text-paragraph:#4b5563;
$white:white;
$text-blue: rgb(79, 70, 229);
$chat-text: #4f46e5;
$ceo-bg: #f9fafb;

$svg-bg:#eceef0;

$collection-bg:#4338ca;
$collection-p: #e5e7eb;
$collection-link: rgb(75, 85, 99);


$blog-header: rgb(55, 65, 81);

$footer-link:rgb(224, 231, 255); 